<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sharp Objects</title>
        <link rel="icon" type="image/x-icon" href="images/Sharp.png">
        <link rel="apple-touch-icon" href="images" href="images/Sharp.png">
        <link rel="stylesheet" href="/css/stylesheet.css">
        <script src="/main.js" defer></script>
    </head>
    <body>
        <%- include("./partials/header.ejs") %>
        <div id="hero">
            <div id="hero_box">
                <img src="images/home_banner.png" alt="Banner_image with a 3D printer">
            </div>
            <div id="hero_msg">
                <h1>Print Now</h1>
                <h2>Order some of our 3D printed designs.</h2>
                <div class="button_box">
                    <a class="buy" href="products" >Buy</a>
                </div>
            </div>
        </div>
            <main id="home-grid">
                <div id="hproducts">
                    <% products.forEach(product =>{ %>
                        <section class="product">
                            <img src="images/NO_Image.png" alt= "<%= product.name %>">
                            <a href="#"><h3><%= product.name %></h3></a>
                            <div class="product_info">
                                <h4><%= product.stock %></h4>
                                <h4>$<%= product.cost %></h4>
                            </div>
                        </section>
                    <% }) %>
                    <a id="see_more" href="products">See more &#8677;</a>
                </div>
                <div id = 'custom_print_sect'>
                    <img id="image_background" src="images/custom_banner.png" alt="">
                    <section class="custom_print_msg">
                        <h2>Custom Prints</h2>
                        <p>If you don't find what you want, you could order a custom idea or file for me to print. Just make sure it is not copyrighted.</p>
                        <a id="order" href="#">Order Now</a>
                    </section>
                </div>
            </main>
            <%- include("./partials/footer.ejs") %>
    </body>
</html>