<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sharp Object - Profile</title>
    <link rel="stylesheet" href="/css/stylesheet.css">
</head>
<body>
    <%- include("./partials/header.ejs") %>
    <div id="profile-header">
        <h2> Welcome back, <%= user.first_name%></h2>
        <a href="/user/logout">Log out -></a>
    </div>
    <div id="profile-page">
        <aside id="profile-bar">
            <a href="">General</a>
            <a href="">Order History</a>
        </aside>
        <main>
            <h3>Full Name: <%= user.first_name%> <%= user.last_name %> </h3>
            <h3>Email: <%= user.email %></h3>
            <button type="button">Edit Profile</button>
            <button type="button">Delete Account</button>
        </main>
    </div>
    <%- include("./partials/footer.ejs") %>
</body>
</html>